extends ../page-layout

block variables
  - var title = "{{ why.title }}"
  - var dataPage = "why"
  - var cow = fs.readFileSync('lib/img/cow.svg')

block page-content
  | {{#why}}

  header.page-header
    != cow
    h1 {{ title }}

  h2 {{ definition_of_veganism }}
  p 
    | {{{ the_word_vegan_was_coined }}}
    em  {{ veganism_is_a_way_of_living }}
  p 
    | {{ as_you_can_see_veganism_is }}&nbsp;
    +link(0)

  +img(0)

  h2 {{ our_relationship_with_animals }}

  aside.featurette
    +vid-img(0)
    h1 {{ dogs_cats_cows }}
    p {{ watch_this_video_of_a }}
    
  p {{ when_they_pass_away }}

  h2 {{ moral_dissonance }}
  p 
    | {{ if_it_is_wrong_to_act }}
    a(href="{{ links.1 }}") {{ we_certainly_do_not_need }}
  p {{ some_of_us_try }}
  p {{ in_any_case_these_terms }}
  h2 {{ cant_we_just_consume_humane }}
  p {{ asking_how_well_we_should }}
  p {{ for_example_there_are_no }}
  p {{ as_with_any_other_form }}
  blockquote
    | {{ humans_have_no_need }}
    cite {{ angel_flinn }}
  p {{ animals_suffer_from_cold }}
  p {{ as_long_as_these_animals }}
  p {{ to_some_humane_legislation }}
  p {{ animal_welfare_fosters_more }}
  blockquote 
    | {{ the_use_of_humane_slaughter }}
    cite {{ united_states_humane_slaughter }}
  p {{ notice_the_lack_of_any }}

  h2 {{ should_i_go_vegetarian }}
  p {{ vegetarianism_equals }}
  p {{ veganism_may_seem_way }}
  p {{ but_if_for_some_reason }}
  p {{ dont_i_need_animal_products }}
  blockquote
    | {{ properly_planned_vegan_diets }}
    cite {{ america_dietetic_association }}
  p {{ not_only_are_animal_products }}
  p {{ check_out_our_nutrition }}
  p 
    a(href="") {{ the_china_study }}
    | {{ by_t_colin_campbell }}
  p 
    | {{ sentience_is_all }}
    a(href="") {{ regardless_of_how }}

  h2 {{ is_veganism_good_for_the }}
  blockquote
    | {{ about_2000_pounds }}
    cite {{ me_ensminger }}
  p {{ consuming_a_plant_based }}
  p {{ compare_that_to_25 }}

  h2 {{ is_veganism_sustainable }}
  p {{ considering_the_amount }}
  p {{ essentially_we_have }}
  p {{ imagine_instead }}
  blockquote
    | {{ go_vegan_its_better }}
    cite {{ gary_l_francione }}
  p {{ check_out_some }}
  ul
    li: a(href="") {{ vegan_faq }}
    li: a(href="") {{ meal_planning }}
    li: a(href="") {{ books_on_animal }}
    li: a(href="") {{ vegan_vendors }}
  blockquote
    | {{ whenever_you_find }}
    cite {{ mark_twain }}
  | {{/why}}

block sidebar-content
  | {{#why}}
  h1 {{ more_than_56 }}
  .counter
    p {{ marine_animals }}
    p {{ chickens }}
    p {{ ducks }}
    p {{ pigs }}
    p {{ rabbits }}
    p {{ turkeys }}
    p {{ geese }}
    p {{ sheep }}
    p {{ goats }}
    p {{ cows_and_calves }}
    p {{ rodents }}
    p {{ pigeons_and_other_birds }}
    p {{ buffaloes }}
    p {{ dogs }}
    p {{ cats }}
    p {{ horses }}
    p {{ donkeys_and_mules }}
    p {{ camels and other camelids }}
  h2 {{ since_this_page }}

  article
    h1 {{ frightened_cow_awaits }}
    +vid-img(1)
    p {{ this_footage_is_not }}

  article
    blockquote
      | {{ veganism_is_not }}
      cite {{ ken_hopes }}

  article
    h1 {{ im_vegan_phillip }}
    +vid-img(2)
    p {{ long_time_vegan }}
    p {{ read_the_we_are_all }}

  article
    h1 {{ the_faces_of_free_range }}
    +vid-img(3)
    p {{ footage_of_actual }}

  article
    blockquote
      | {{ should_the_rights }}
      cite {{ michaela_osterlund }}

  article
    h1 {{ watch_the_earthlings }}
    +vid-img(4)
    p {{ warning_graphic_footage }}
    p {{ this_is_what_it_means }}
    p {{ its_easy_to_watch }}
    p {{ the_issue_is_not_treatment }}

  article
    h1 {{ the_truth_behind }}
    +vid-img(5)
    p {{ an_illustrated_account }}
    p {{ by_peaceful }}

  article
    h1 {{ the_truth_behind_eggs }}
    +vid-img(6)
    p {{ an_illustrated_account_eggs }}
    p {{ when_we_consume }}

  article
    h1 {{ a_calf_without_a_name }}
    p {{ read_a_story_about }}

  article
    h1 {{ libby_and_louie }}
    p {{ read_about_a_chicken }}

  article
    h1 {{ breaking_the_set }}
    +vid-img(7)
    p {{ rutgers_law_professor }}
    p {{ eat_like_you_care }}
    p {{ and_website }}

  | {{/why}}
