extends ../page-layout

block variables
  - var title = "{{ wear.title }}"
  - var dataPage = "wear"
  - var shoe = fs.readFileSync('lib/img/shoe.svg')

block page-content
  | {{#wear}}
  header.page-header
    != shoe
    h1 {{ title }}

  blockquote 
    | {{ 76-there-is-no-moral }}
    cite {{ 46-gary-l-francione }}

  #toc

  h2 {{ 13-what-do-vegans-we }}
  p {{ 73-the-selection-of }}
  p {{ 5-some-vegans-will-s }}

  h2 {{ 76-whats-wrong-with }}
  p {{ 6-the-reason-for-avo }}
  p 
    +link(0)
  
  h2 {{ 58-leather }}
  p {{ 98-strongleather-isn }}
  p {{ 4-even-if-this-were }}

  h2 {{ 12-recycledsecondhan }}
  p {{ 57-emis-it-vegan-to }}&nbsp;
    +link(1)
    {{ ask_yourself }}
  p {{ 24-being-vegan-means }}
  p {{ 71-so-regardless-of }}

  h2 {{ 9-vegan-clothing-lin }}
  +img(0, "image_bleed")
  h3.toc-exempt
    +link(2)
  p: small {{ 94-em-denotes-price }}

  h3.toc-exempt
    +link(3)
  p 
    +dollar(1, 2)
    {{ 14-mens-and-womens-s }}
  
  h3.toc-exempt
    +link(4)
  p 
    +dollar(1, 2)
    {{ 70-shoes-for-men-and }}

  h3.toc-exempt
    +link(5)
  p 
    +dollar(1, 2)
    {{ 51-vegan-and-environ }}

  h3.toc-exempt
    +link(6)
  p 
    +dollar(1, 4)
    {{ 0-shoes-jackets-belt }}

  h3.toc-exempt
    +link(7)
  p 
    +dollar(1, 2)
    {{ 75-shoes-for-men-and }}

  h3.toc-exempt
    +link(8)
  p 
    +dollar(1, 2)
    {{ 46-shoes-and-accesso }}

  h3.toc-exempt
    +link(9)
  p 
    +dollar(1, 2)
    {{ 96-shoes-and-accesso }}

  h3.toc-exempt
    +link(10)
  p 
    +dollar(2, 3)
    {{ 3-mens-and-womens-cl }}

  h3.toc-exempt
    +link(11)
  p 
    +dollar(2, 3)
    {{ 62-italian-vegan-sho }}

  h3.toc-exempt
    +link(12)
  p 
    +dollar(1, 2)
    {{ 52-all-vegan-despite }}

  h3.toc-exempt
    +link(13)
  p 
    +dollar(2, 3)
    {{ 17-vegan-boutique-fo }}

  h3.toc-exempt
    +link(14)
  p 
    +dollar(2, 4)
    {{ 65-couture-womens-sh }}

  h3.toc-exempt
    +link(15)
  p 
    +dollar(2, 4)
    {{ 96-couture-womens-ch }}

  h3.toc-exempt
    +link(16)
  p 
    +dollar(2, 4)
    {{ 69-shoes-for-women-a }}

  h3.toc-exempt
    +link(17)
  p 
    +dollar(1, 2)
    {{ 82-vegan-shoes-belt }}

  h3.toc-exempt
    +link(18)
  p 
    +dollar(1, 2)
    {{ 40-quality-shoes-and }}

  h3.toc-exempt
    +link(19)
  p 
    +dollar(1, 2)
    {{ 26-shoes-for-men-and }}

  h3.toc-exempt
    +link(20)
  p 
    +dollar(3, 4)
    {{ 57-recycled-plastic }}

  h3.toc-exempt
    +link(21)
  p 
    +dollar(1, 2)
    {{ 53-vegan-eco-friendl }}

  h3 {{ 28-women-only }}

  h4.toc-exempt
    +link(22)
  p 
    +dollar(1, 2)
    {{ 75-shoes-for-women }}

  h4.toc-exempt
    +link(23)
  p 
    +dollar(2, 3)
    {{ 41-vintage-style-sho }}

  h4.toc-exempt
    +link(24)
  p 
    +dollar(2, 3)
    {{ 83-womens-shoes }}

  h4.toc-exempt
    +link(25)
  p 
    +dollar(2, 4)
    {{ 52-womens-shoes-and }}

  h4.toc-exempt
    +link(26)
  p 
    +dollar(2, 4)
    {{ 87-womens-shoes }}

  h4.toc-exempt
    +link(27)
  p 
    +dollar(2, 4)
    {{ 3-womens-shoes }}

  h3 {{ 35-men-only }}
  h4.toc-exempt
    +link(28)
  p 
    +dollar(3, 4)
    {{ 30-all-mens-shoe-col }}

  h4.toc-exempt
    +link(29)
  p 
    +dollar(1, 2)
    {{ 54-mens-shoes-clothe }}

  h3 {{ 25-coats }}
  h4.toc-exempt
    +link(30)
  p 
    +dollar(1, 2)
    {{ 94-coats-for-women-a }}

  h4.toc-exempt
    +link(31)
  p 
    +dollar(1, 3)
    {{ 90-special-section-f }}

  h4.toc-exempt
    +link(32)
  p 
    +dollar(1, 4)
    {{ 47-offering-jackets }}

  h4.toc-exempt
    +link(33)
  p 
    +dollar(2, 3)
    {{ 36-features-a-winter }}

  h4.toc-exempt
    +link(34)
  p 
    +dollar(3, 4)
    {{ 53-coats-for-men-and }}

  h3 {{ 45-bags }}
  h4.toc-exempt
    +link(35)
  p 
    +dollar(2, 3)
    {{ 94-wide-selection-of }}

  h4.toc-exempt
    +link(36)
  p 
    +dollar(1, 2)
    {{ 38-designer-of-vegan }}

  h4.toc-exempt
    +link(37)
  p 
    +dollar(3, 4)
    {{ 99-luxury-designer-b }}

  h4.toc-exempt
    +link(38)
  p 
    +dollar(1, 2)
    {{ 73-messenger-bags-an }}

  h3 {{ 68-miscellaneous }}

  h4.toc-exempt
    +link(39)
  p 
    +dollar(2, 3)
    {{ 87-an-all-vegan-line }}

  h4.toc-exempt
    +link(40)
  p 
    +dollar(1, 2)
    {{ 4-one-of-our-favorit }}

  h4.toc-exempt
    +link(41)
  p
    +dollar(3, 4)
    {{ 44-minka-bag-from-ma }}

  h4.toc-exempt
    +link(42)
  p 
    +dollar(3, 4)
    {{ 37-special-vegan-hea }}

  h4.toc-exempt
    +link(43)
  p 
    +dollar(2, 3)
    {{ 9-stylish-dancing-sh }}

  h4.toc-exempt
    +link(44)
  p 
    +dollar(1, 2)
    {{ 98-beautiful-ballet }}

  h4.toc-exempt
    +link(45)
  p 
    +dollar(1, 2)
    {{ 63-identical-to-the }}

  +img(1, "image_solitary")

  blockquote
    | {{ 71-im-vegan-because }}
    cite {{ 87-elizabeth-collins }}
  | {{/wear}}

block sidebar-content
  | {{#wear}}
  article(data-component="video_box")
    +vid-img(0)
    h1 {{ 41-meeting-the-cows }}
    p {{ 76-meet-some-of-the }}

  article(data-component="video_box")
    +vid-img(1)
    h1 {{ 9-the-truth-about-le }}
    p {{ 24-span-stylecolorre }}
    p {{ 74-isnt-leather-just }}

  article(data-component="video_box")
    +vid-img(2)
    h1 {{ 88-mary-had-a-little }}
    p {{ 41-this-video-of-a-l }}

  article(data-component="video_box")
    blockquote
      | {{ 35-of-all-wrongs-i-h }}
      cite {{ 19-vera-cristofani }}

  article(data-component="video_box")
    +vid-img(3)
    h1 {{ 49-olsen-haus-media }}
    p 
      +link(46)

  article(data-component="video_box")
    +vid-img(4)
    h1 {{ 21-cri-de-coeur-2011 }}
    p {{ 73-an-artistic-video }}&nbsp;
      +link(47)

  article(data-component="video_box")
    h1 {{ 19-cri-de-coeur }}

  article(data-component="video_box")
    +vid-img(5)
    h1 {{ 96-roni-kantor-vinta }}
    p {{ 1-a-fun-commercial-f }}&nbsp;
      +link(48)

  article(data-component="video_box")
    +vid-img(6)
    h1 {{ 42-love-is-mighty-ve }}
    p {{ 2-a-peek-at-the-fair }}&nbsp;
      +link(49)

  article(data-component="video_box")
    +img(2)
    h1 
      +link(50)
    p {{ 51-read-about-willow }}

  article(data-component="video_box")
    +img(3)
    h1 
      +link(51)
    p {{ 34-meet-the-sheep-wh }}
  | {{/wear}}
