extends ../page-layout

block variables
  - var title = "{{ wear.title }}"
  - var dataPage = "wear"
  - var shoe = fs.readFileSync('lib/img/shoe.svg')

block page-content
  | {{#wear}}
  header.page-header
    != shoe
    h1 {{ title }}

  blockquote 
    | {{ 76-there-is-no-moral }}
    cite {{ 46-gary-l-francione }}

  h2 {{ 13-what-do-vegans-we }}
  p {{ 73-the-selection-of }}
  p {{ 5-some-vegans-will-s }}

  h2 {{ 76-whats-wrong-with }}
  p {{ 6-the-reason-for-avo }}
  p 
    +link(0)
  
  h2 {{ 58-leather }}
  p {{ 98-strongleather-isn }}
  p {{ 4-even-if-this-were }}

  h2 {{ 12-recycledsecondhan }}
  p {{ 57-emis-it-vegan-to }}&nbsp;
    +link(1)
    {{ ask_yourself }}
  p {{ 24-being-vegan-means }}
  p {{ 71-so-regardless-of }}

  h2 {{ 9-vegan-clothing-lin }}
  h3
    +link(2)
  p {{ 86-above-a-data-orig }}
  p {{ 72-cynthia-king-vega }}
  p: small {{ 94-em-denotes-price }}

  h3
    +link(3)
  p {{ 14-mens-and-womens-s }}
  
  h3
    +link(4)
  p {{ 70-shoes-for-men-and }}

  h3
    +link(5)
  p {{ 51-vegan-and-environ }}

  h3
    +link(6)
  p {{ 0-shoes-jackets-belt }}

  h3
    +link(7)
  p {{ 75-shoes-for-men-and }}

  h3
    +link(8)
  p {{ 46-shoes-and-accesso }}

  h3
    +link(9)
  p {{ 96-shoes-and-accesso }}

  h3
    +link(10)
  p {{ 3-mens-and-womens-cl }}

  h3
    +link(11)
  p {{ 62-italian-vegan-sho }}

  h3
    +link(12)
  p {{ 52-all-vegan-despite }}

  h3
    +link(13)
  p {{ 17-vegan-boutique-fo }}

  h3 
    +link(14)
  p {{ 65-couture-womens-sh }}

  h3
    +link(15)
  p {{ 96-couture-womens-ch }}

  h3
    +link(16)
  p {{ 69-shoes-for-women-a }}

  h3
    +link(17)
  p {{ 82-vegan-shoes-belt }}

  h3
    +link(18)
  p {{ 40-quality-shoes-and }}

  h3
    +link(19)
  p {{ 26-shoes-for-men-and }}

  h3
    +link(20)
  p {{ 57-recycled-plastic }}

  h3
    +link(21)
  p {{ 53-vegan-eco-friendl }}

  h3 {{ 28-women-only }}

  h4 {{ 40-neuaura-shoes }}
  p {{ 75-shoes-for-women }}

  h4 {{ 56-roni-kantor }}
  p {{ 41-vintage-style-sho }}

  h4 {{ 53-beyond-skin }}
  p {{ 83-womens-shoes }}

  h4 {{ 72-cri-de-coeur }}
  p {{ 52-womens-shoes-and }}

  h4 {{ 49-love-is-mighty }}
  p {{ 87-womens-shoes }}

  h4 {{ 7-compassionate-cout }}
  p {{ 3-womens-shoes-and-a }}

  h4 {{ 48-charmone }}
  p {{ 3-womens-shoes }}

  h3 {{ 35-men-only }}
  h4 {{ 51-no-harm }}
  p {{ 30-all-mens-shoe-col }}

  h4 {{ 48-a-data-original-t }}

  h4 {{ 37-brave-gentleman }}
  p {{ 54-mens-shoes-clothe }}

  h3 {{ 38-children-only }}
  h4 {{ 44-a-data-original-t }}

  h4 {{ 64-cbhstudio }}
  p {{ 74-cute-bags-backpac }}

  h3 {{ 25-coats }}
  h4 {{ 90-alternative-outfi }}
  p {{ 94-coats-for-women-a }}

  h4 {{ 18-vegan-store }}
  p {{ 90-special-section-f }}

  h4 {{ 15-mooshoes }}
  p {{ 47-offering-jackets }}

  h4 {{ 94-muso-koroni }}
  p {{ 36-features-a-winter }}

  p {{ 86-a-data-original-t }}

  h4 {{ 50-vaute-couture }}
  p {{ 53-coats-for-men-and }}

  h3 {{ 45-bags }}
  h4 {{ 83-matt-and-nat }}
  p {{ 94-wide-selection-of }}

  h4 {{ 91-red-handed-bags }}
  p {{ 16-designer-quality }}

  h4 {{ 80-susan-nichole }}
  p {{ 38-designer-of-vegan }}

  h4 {{ 41-cherry-berry }}
  p {{ 35-colorful-vegan-ba }}

  h4 {{ 48-gunas }}
  p {{ 99-luxury-designer-b }}

  h4 {{ 96-never-leather-lan }}
  p {{ 73-messenger-bags-an }}

  h3 {{ 68-miscellaneous }}
  h4 {{ 7-couch-guitar-strap }}
  p {{ 87-an-all-vegan-line }}

  h4 {{ 96-vintage-style-wom }}
  p {{ 4-one-of-our-favorit }}

  h4 {{ 12-laptop-case }}
  p {{ 44-minka-bag-from-ma }}

  h4 {{ 28-weightlifting-glo }}
  p {{ 37-special-vegan-hea }}

  h4 {{ 73-dance-shoes }}
  p {{ 9-stylish-dancing-sh }}

  h4 {{ 98-cynthia-king-ball }}
  p {{ 98-beautiful-ballet }}

  h4 {{ 34-birkenstocks }}
  p {{ 63-identical-to-the }}

  blockquote
    | {{ 71-im-vegan-because }}
    cite {{ 87-elizabeth-collins }}
  | {{/wear}}

block sidebar-content
  | {{#wear}}
  article
    h1 {{ 41-meeting-the-cows }}
    p {{ 76-meet-some-of-the }}

  article
    h1 {{ 9-the-truth-about-le }}
    p {{ 24-span-stylecolorre }}
    p {{ 74-isnt-leather-just }}

  article
    h1 {{ 88-mary-had-a-little }}
    p {{ 41-this-video-of-a-l }}

  article
    blockquote
      | {{ 35-of-all-wrongs-i-h }}
      cite {{ 19-vera-cristofani }}

  article
    h1 {{ 49-olsen-haus-media }}
    p {{ 62-an-exciting-look }}

  article
    h1 {{ 21-cri-de-coeur-2011 }}
    p {{ 73-an-artistic-video }}

  article
    h1 {{ 19-cri-de-coeur }}

  article
    h1 {{ 96-roni-kantor-vinta }}
    p {{ 1-a-fun-commercial-f }}
    p {{ 77-roni-kantor }}

  article
    h1 {{ 39-love-is-mighty-ve }}
    p {{ 2-a-peek-at-the-fair }}

  article
    h1 {{ 42-love-is-mighty-ve }}

  article
    h1 {{ 47-willows-whisper }}
    p {{ 51-read-about-willow }}

  article
    h1 {{ 10-a-portrait-of-mar }}
    p {{ 34-meet-the-sheep-wh }}
  | {{/wear}}
