extends layout

block content
  include ./_includes/_page-nav.jade

  block page-content

  footer.main
    .wrapper
      ul
        li
          a(href="http://twitter.com/vegankitdotcom") @VeganKitDotCom
        li
          img.dont-donate(src="//cdn.everything.io/vegankit/images/dontdonate_vertical_white.png")
        li
          a(href="mailto:info@vegankit.com") info@vegankit.com
