extends layout

block content
  h1 {{ home.title }}
  ul
    li: a(href="./why") {{ why.title }}
    li: a(href="./be") {{ be.title }}
    li: a(href="./eat") {{ eat.title }}
    li: a(href="./wear") {{ wear.title }}
    li: a(href="./use") {{ use.title }}
    li: a(href="./learn") {{ learn.title }}
