extends layout

block content
  - var cow = fs.readFileSync('lib/img/cow.svg')
  - var butterfly = fs.readFileSync('lib/img/butterfly.svg')
  - var apple = fs.readFileSync('lib/img/apple.svg')
  - var shoe = fs.readFileSync('lib/img/shoe.svg')
  - var bottle = fs.readFileSync('lib/img/bottle.svg')
  - var tree = fs.readFileSync('lib/img/tree.svg')

  div(data-page="home")
    h1 {{ home.title }}
    ul.icon-list
      li
        a(href="./why")
          != cow
          span.short {{ why.shortTitle }}
          span.long {{ why.title }}
      li
        a(href="./be")
          != butterfly
          span.short {{ be.shortTitle }}
          span.long {{ be.title }}
      li
        a(href="./eat")
          != apple
          span.short {{ eat.shortTitle }}
          span.long {{ eat.title }}
      li
        a(href="./wear")
          != shoe
          span.short {{ wear.shortTitle }}
          span.long {{ wear.title }}
      li
        a(href="./use")
          != bottle
          span.short {{ use.shortTitle }}
          span.long {{ use.title }}
      li
        a(href="./learn")
          != tree
          span.short {{ learn.shortTitle }}
          span.long {{ learn.title }}

block postjs
  script(type="text/javascript") document.addEventListener('DOMContentLoaded', function() { k$.redirect_locale("") });
