extends layout

block content
  div(data-page="home")
    h1 {{ home.title }}
    ul
      li: a(href="./why") {{ why.shortTitle }}
      li: a(href="./be") {{ be.shortTitle }}
      li: a(href="./eat") {{ eat.shortTitle }}
      li: a(href="./wear") {{ wear.shortTitle }}
      li: a(href="./use") {{ use.shortTitle }}
      li: a(href="./learn") {{ learn.shortTitle }}
