extends layout

mixin vid-img(id)
  div(data-vid-id="{{ videos.#{id} }}")
    img

mixin link(id)
  a(href="{{ links.#{id}.href }}") {{ links.#{id}.title }}

mixin img(id)
  img(src="/img/{{ images.#{id} }}")

block content
  include ./_includes/_page-nav.jade

  .wrapper(data-page-type="single")
    section.page-content
      block page-content

    aside.sidebar-content
      block sidebar-content
