extends layout

mixin vid-img(id)
  div(data-vid-id="{{ videos.#{id} }}")
    img

block content
  .wrapper(data-page-type="single")
    section.page-content
      block page-content

    aside.sidebar-content
      block sidebar-content
