extends ../page-layout

block variables
  - var title = "{{ eat.title }}"
  - var dataPage = "eat"
  - var apple = fs.readFileSync('lib/img/apple.svg')

block page-content
  | {{#eat}}
  header.page-header
    != apple
    h1 {{ title }}

  #toc

  h2 {{ recommended-products }}
  p {{ products-we-love }}

  div(data-block="product_grid")
    | {{#recommended_products}}
    div(data-component="product")
      a(href="{{ href }}")
        img(src="//cdn.everything.io/vegankit/images/recommended_products/{{ image }}.jpg")
        h1.toc-exempt {{ title }}
    {{/recommended_products}}

  h2 {{ 72-about-the-vegan-d }}
  p {{ 64-a-vegan-diet-is-o }}
  p {{ 38-eating-vegan-does }}
  +img(0, "image_bleed")

  h2 {{ 94-isnt-vegan-food-b }}
  p {{ 40-a-popular-myth-is }}&nbsp;
    +link(0)
  p {{ 44-common-vegan-dish }}

  h2 {{ 80-nutrition-amp-hea }}
  p {{ 20-nutritional-defic }}
  p {{ 92-strongproteinstro }}
  p {{ 72-we-highly-recomme }}&nbsp;
    +link(1)
  p {{ 59-strongcalciumstro }}
  p 
    em {{ 70-emwhen-purchasing }}
  p {{ 21-strongironstrong- }}

  h3.toc-exempt {{ 1-emtipsem }}
  h4.toc-exempt {{ 99-vitamin-c }}
  p {{ 95-vitamin-c-rich-fo }}
  figure(data-component="image_thumbnail")
    +img(1)
    figcaption
      +link(2)

  h4.toc-exempt {{ 99-b-12 }}
  p {{ 2-strongb12strong-20 }}
  
  ul.unstyled
    li
      +link(3)
    li
      +link(4)
  h4.toc-exempt {{ 99-omega-3 }}
  p {{ 91-strongomega-3stro }}
  p {{ 79-according-to-mich }}

  ul.unstyled
    li
      +link(5)
    li
      +link(6)
  p {{ 19-natural-healthy-c }}

  h4.toc-exempt {{ 99-vitamin-d }}
  p {{ 22-strongvitamin-dst }}
  p {{ note_vitamin_D3 }}
  p {{ 19-important-if-you }}
  
  ul.unstyled
    li
      +link(7)
  p 
    em {{ 16-disclaimer-the-in }}

  h2 {{ 10-special-foods }}
  p {{ 66-spend-some-time-w }}

  div(data-component="image_module")
    +img(2)
    article
      h3.toc-exempt {{ 27-tempeh }}
      p {{ 6-tempeh-tem-pea-or }}
      p
        +link(8)

  div(data-component="image_module")
    +img(3)
    article
      h3.toc-exempt {{ 55-tofu }}
      p {{ 77-tofu-is-a-solid-f }}&nbsp;
        +link(9)&nbsp;
        {{ a_dinner_dish_like }}
        +link(10)
        ,&nbsp;
        +link(11)
      p {{ tofu_gets_a_bad }}

  div(data-component="image_module")
    +img(4)
    article
      h3.toc-exempt {{ 24-seitan }}
      p {{ 41-seitan-is-a-chewy }}
      p {{ 86-like-tempeh-seita }}
      p
        +link(12)

  div(data-component="image_module")
    +img(5)
    article
      h3.toc-exempt {{ 50-nutritional-yeast }}
      p {{ 31-nutritional-yeast }}
      p
        +link(13)
  
  h2 {{ 80-ingredients }}
  p {{ 31-the-number-of-non }} 
  h3.toc-exempt {{ 92-common-nonvegan-i }}
  h4.toc-exempt
    +link(14)
  p {{ casein_is_a_protein }}

  h4.toc-exempt
    +link(15)
  p {{ also_known_as }}

  h4.toc-exempt
    +link(16)
  p {{ beeswax_as_the }}.&nbsp;
    +link(17)

  h4.toc-exempt
    +link(18)
  p {{ 6-stronga-target_bla }}

  h4.toc-exempt
    +link(19)
  p {{ some_alcohols_use }}
  p
    +link(20)
    &nbsp;
    +link(21)

  h4.toc-exempt
    +link(22)
  p {{ lactose_is_a_protein }}

  h4.toc-exempt
    +link(23)
  p {{ 47-stronga-target_bl }}

  h4.toc-exempt
    +link(24)
  p {{ 34-stronga-target_bl }}

  h4.toc-exempt
    +link(25)
  p {{ 49-stronga-target_bl }}

  h2 {{ 13-replacements }}
  p {{ 0-here-are-some-quic }}
  
  h3 {{ 71-eggs }}
  h4.toc-exempt{{ apple-sauce }}
  p {{ 36-strongapple-sauce }}
  h4.toc-exempt {{ ground_flax_seed }}
  p {{ 28-strongground-flax }}
  h4.toc-exempt {{ banana }}
  p {{ 17-strongbananastron }}
  h4.toc-exempt {{ baking-soda-powder }}
  p {{ 28-strongbaking-soda }}

  h3 {{ 34-milk }}
  h4.toc-exempt {{ soy-oat-hemp }}
  p {{ 20-strongsoyoathempa }}
  h4.toc-exempt {{ vegetable-oil }}
  p {{ 15-strongvegetable-o }}

  h2 {{ 66-recipes }}
  p {{ 93-thinking-about-wh }}
  div(data-anchor-image="breakfast")
    +img(6, "image_bleed")
  p(data-anchor-label="breakfast")
    +link(26)
    span {{ 2-from-food-dot-com }}
  
  div(data-anchor-menu="breakfast")
    h3 {{ 92-breakfast }}
    ul.unstyled
      - var n = 27
      while n < 42
        li
          +link(n++)

  div(data-anchor-image="lunch")
    +img(7, "image_bleed")
  p(data-anchor-label="lunch")
    +link(42)
    span {{ 2-from-tastebook }}

  div(data-anchor-menu="lunch")
    h3 {{ 19-lunch }}
    ul.unstyled
      - var n = 43
      while n < 55
        li
          +link(n++)

  div(data-anchor-image="dinner")
    +img(8, "image_bleed")
  p(data-anchor-label="dinner")
    +link(55)
    span {{ 2-from-babble }}

  div(data-anchor-menu="dinner")
    h3 {{ 17-dinner }}
    ul.unstyled
      - var n = 56
      while n < 69
        li
          +link(n++)

  div(data-anchor-image="sweets")
    +img(9, "image_bleed")
  p(data-anchor-label="sweets")
    +link(72)
    span {{ 2-from-cookthink }}

  div(data-anchor-menu="sweets")
    h3 {{ 95-snacks-and-sweets }}
    ul.unstyled
      - var n = 73
      while n < 86
        li
          +link(n++)

  h2 {{ 42-food-blogs }}
  ul.unstyled
    - var n = 87
    while n < 107
      li
        +link(n++)

  h2 {{ 37-cookbooks }}

  div(data-component="image_module")
    +img(10)
    article
      h1.toc-exempt
        +link(107)
      p {{ by_vincent_j }}
      p {{ 48-weaving-together }}
      p {{ 26-clear-text-provid }}

  ul.unstyled
    - var n = 108
    while n < 114
      li
        +link(n++)

  div(data-component="image_module")
    +img(11)
    article
      h1.toc-exempt
        +link(114)
      p {{ by_lauren_ulm }}
      p {{ 78-when-lauren-ulm-w }}
      p {{ 31-here-in-her-debut }}

  ul.unstyled
    - var n = 115
    while n < 121
      li
        +link(n++)

  div(data-component="image_module")
    +img(12)
    article
      h1.toc-exempt
        +link(121)
      p {{ by_colleen_patrick }}
      p {{ 35-a-celebration-of }}
      p {{ 0-packed-with-invalu }}
      p {{ 86-organized-by-them }}

  ul.unstyled
    - var n = 122
    while n < 130
      li
        +link(n++)

  div(data-component="image_module")
    +img(13)
    article
      h1.toc-exempt
        +link(130)
      p {{ by_dreena_burton }}
      p {{ 41-vegan-food-has-co }}
      p {{ 48-it-has-evolved-in }}
      p {{ 61-theres-no-relying }}

  ul.unstyled
    - var n = 131
    while n < 139
      li
        +link(n++)
  
  div(data-component="image_module")
    +img(14)
    article
      h1.toc-exempt
        +link(139)
      p {{ by_mark_reinfeld_and_jennifer }}
      p {{ 88-busy-vegans-rejoi }}
      p {{ 10-sections-include }}
      p {{ 75-the-30-minute-veg }}

  ul.unstyled
    - var n = 140
    while n < 143
      li
        +link(n++)

  h2 {{ 25-desserts }}
  ul.unstyled
    - var n = 143
    while n < 149
      li
        +link(n++)

  div(data-component="image_module")
    +img(15)
    article
      h1.toc-exempt
        +link(149)
      p {{ 96-a-seasoned-cookin }}
      p {{ 6-more-than-just-a-c }}

  ul.unstyled
    - var n = 150
    while n < 155
      li
        +link(n++)

  div(data-component="image_module")
    +img(16)
    article
      h1.toc-exempt
        +link(155)
      p {{ by_isa_chandra }}
      p {{ 6-the-hosts-of-the-v }}
      p {{ 51-a-companion-volum }}
      p {{ 93-when-vegan-cupcak }}

  +img(17, "image_bleed")
  h2 {{ 53-restaurants-near }}
  p {{ 47-even-if-you-dont }}

  h3.toc-exempt
    +link(156)
  p {{ 66-with-a-fresh-desi }}

  h3.toc-exempt
    +link(157)
  p {{ 92-happycow-is-one-o }}

  h3.toc-exempt
    +link(158)
  p {{ 95-vegguide-is-simil }}

  h2 {{ 9-vegan-stores }}
  p {{ 89-here-are-a-few-pl }}

  +img(18, "image_solitary")
  h3.toc-exempt
    +link(159)
  p {{ 28-vegan-essentials }}

  h3.toc-exempt
    +link(160)
  p {{ 73-stronga-target_bl }}

  h3.toc-exempt
    +link(161)
  p {{ 99-pangea }}

  +img(19, "image_solitary")
  
  blockquote
    p {{ veganism-is-not-just }} 
    cite {{ 71-khaetlyn-l-grinde }}

  .clearfix

  | {{/eat}}

block sidebar-content
  | {{#eat}}
  article(data-component="video_box")
    +img(20, "image_solitary")
    h1 {{ 46-free-vegan-nutrit }}
    p {{ 40-download-this-fre }}
    +link(162, "button")
    &nbsp;
    +link(163, "button")

    blockquote
      p {{ 43-strong-classespec }}
      cite {{ 33-prof-gary-l-franc }}

  article(data-component="video_box")
    +vid-img(0)
    h1 {{ 98-forks-over-knives }}
    p {{ 23-this-documentary }}

  article(data-component="video_box")
    +vid-img(1)
    h1 {{ 46-what-makes-you-si }}
    p {{ 31-vegan-doctor-and }}

  article(data-component="video_box")
    +vid-img(2)
    h1 {{ 18-vegan-bodybuildin }}
    p {{ 69-contrary-to-popul }}

  article(data-component="video_box")
    +vid-img(3)
    h1 {{ 27-quinoa-kitchari }}
    p {{ 89-chef-julie-hasson }}
    p 
      +link(164)

  article(data-component="video_box")
    +vid-img(4)
    h1 {{ 20-viva-la-vegan-scr }}
    p 
      +link(165)
      &nbsp;
      {{ makes-a-quick-and }}
  
  article(data-component="video_box")
    +vid-img(5)
    h1 {{ 94-creamy-cauliflowe }}
    p 
      +link(166)
      &nbsp;
      {{ demonstrates-her-creamy }}

  article(data-component="video_box")
    +vid-img(6)
    h1 {{ 53-stuffed-broccoli }}
    p
      +link(167)
      &nbsp;
      {{ creates-a-pizza-just }}

  article(data-component="video_box")
    +vid-img(7)
    h1 {{ 7-vegan-baking-demys }}
    p {{ 9-colleen-patrick-go }}
  
  article(data-component="video_box")
    +vid-img(8)
    h1 {{ 59-peteys-pumpkin-cu }}
    p {{ 64-ptisseur-petey-ro }}

  article(data-component="video_box")
    +vid-img(9)
    h1 {{ 78-chocolate-chip-co }}
    p {{ 30-everyday-dish-gue }}
    p 
      +link(168)

  article(data-component="video_box")
    +img(21, "image_solitary")
    h1 {{ 27-free-recipe-sheet }}
    p {{ 93-this-free-recipe }}
    +link(169, "button")

  article
    blockquote
      p {{ 0-people-who-talk-ab }}
      cite {{ 22-david }}

  // article
  //   h1 {{ 93-theres-even-vegan }}
  //   p {{ 43-click-on-our-set }}

  article(data-component="video_box")
    +img(22)
    h1 
      +link(170)
    p {{ 39-have-you-ever-kno }}
    
  | {{/eat}}

block postjs
  script(type="text/javascript") document.addEventListener('DOMContentLoaded', function() { k$.redirect_locale("eat") });
