extends ../page-layout

block variables
  - var title = "{{ use.title }}"
  - var dataPage = "use"
  - var bottle = fs.readFileSync('lib/img/bottle.svg')

block page-content
  | {{#use}}
  header.page-header
    != bottle
    h1 {{ title }}
  | {{/use}}

block sidebar-content
  | {{#use}}
  | {{/use}}
