extends ../page-layout

block variables
  - var title = "{{ use.title }}"
  - var dataPage = "use"
  - var bottle = fs.readFileSync('lib/img/bottle.svg')

block page-content
  | {{#use}}
  header.page-header
    != bottle
    h1 {{ title }}

  h2 {{ 34-ingredients }}
  p {{ 20-here-are-some-ani }}

  h3 
    +link(0)
  p {{ 30-stronga-data-orig }}

  h3 
    +link(1)
  p {{ 19-stronga-data-orig }}

  h3 
    +link(2)
  p {{ 61-stronga-data-orig }}

  h3 
    +link(3)
  p {{ 97-stronga-data-orig }}

  h3
    +link(4)
  p {{ 96-stronga-data-orig }}

  h3 
    +link(5)
  p {{ 37-stronga-data-orig }}

  +img(0, "image_solitary")
  h2 {{ 35-what-are-the-test }}
  p {{ 57-animals-used-in-l }}
  p {{ 94-commonly-testing }}

  +img(1, "image_solitary")
  h3 {{ 1-draize-test }}
  p {{ 84-when-you-first-he }}
  p {{ 58-actually-tests-li }}
  p {{ 68-why-are-rabbits-u }}

  h3 {{ 94-median-lethal-dos }}
  p {{ 54-the-median-lethal }}
  p {{ 39-for-example-this }}

  h2 {{ 37-homemade-cleaning }}
  p {{ 1-while-there-are-pl }}
  p {{ 61-emplease-note-som }}

  ul.unstyled
    - var n = 6
    while n < 13
      li
        +link(n++)

  h2 {{ 0-vegan-vendors }}
  h3 
    +link(13)
  p {{ 68-stronga-data-orig }}

  h3 
    +link(14)
  p {{ 46-stronga-data-orig }}

  h3 
    +link(15)
  p {{ 63-stronga-data-orig }}

  +img(2, "image_solitary")

  blockquote
    | {{ 99-the-time-will-com }}
    cite {{ 13-leonardo-davinci }}

  | {{/use}}

block sidebar-content
  | {{#use}}

  article(data-component="video_box")
    +vid-img(0)
    h1 {{ 47-is-animal-experim }}
    p {{ 72-veterinary-doctor }}

  article(data-component="video_box")
    +img(3)
    h1 {{ 38-companies-that-te }}
    p {{ 96-download-this-fre }}
    +link(16, "button")

  article(data-component="video_box")
    blockquote
      | {{ 26-i-believe-veganis }}
      cite {{ 5-trisha-roberts }}

  article(data-component="video_box")
    +vid-img(1)
    h1 {{ 83-im-vegan-sandy }}
    p {{ 18-sandy-talks-about }}

  article(data-component="video_box")
    +vid-img(2)
    h1 {{ 4-im-vegan-minku }}
    p {{ 43-long-time-vegan-m }}

  article(data-component="video_box")
    blockquote
      | {{ 52-human-beings-have }}
      cite {{ 64-gary-steiner-prof }}

  | {{/use}}
