extends ../page-layout

block variables
  - var title = "{{ use.title }}"
  - var dataPage = "use"
  - var bottle = fs.readFileSync('lib/img/bottle.svg')

block page-content
  | {{#use}}
  header.page-header
    != bottle
    h1 {{ title }}

  h2 {{ 34-ingredients }}
  p {{ 20-here-are-some-ani }}

  h3 {{ 30-ambergris }}
  p {{ 30-stronga-data-orig }}

  h3 {{ 12-down }}
  p {{ 19-stronga-data-orig }}

  h3 {{ 68-gelatin }}
  p {{ 61-stronga-data-orig }}

  h3 {{ 67-lanolin }}
  p {{ 97-stronga-data-orig }}

  h3 {{ 36-suede }}
  p {{ 96-stronga-data-orig }}

  h3 {{ 46-tallow }}
  p {{ 37-stronga-data-orig }}

  h2 {{ 35-what-are-the-test }}
  p {{ 57-animals-used-in-l }}
  p {{ 94-commonly-testing }}

  h3 {{ 1-draize-test }}
  p {{ 84-when-you-first-he }}
  p {{ 58-actually-tests-li }}
  p {{ 68-why-are-rabbits-u }}

  h3 {{ 94-median-lethal-dos }}
  p {{ 54-the-median-lethal }}
  p {{ 39-for-example-this }}

  h2 {{ 37-homemade-cleaning }}
  p {{ 1-while-there-are-pl }}
  p {{ 61-emplease-note-som }}

  p {{ 37-vegetable-scrub }}
  p {{ 20-hand-sanitizer }}
  p {{ 68-wet-cleaning-wipe }}
  p {{ 71-stove-cleaner }}
  p {{ 30-dishwasher-deterg }}
  p {{ 97-soap-nuts }}
  p {{ 29-how-to-clean-ever }}

  h2 {{ 0-vegan-vendors }}
  h3 {{ 8-vegan-essentials }}
  p {{ 68-stronga-data-orig }}

  h3 {{ 20-amazoncom }}
  p {{ 46-stronga-data-orig }}

  h3 {{ 18-pangea }}
  p {{ 63-stronga-data-orig }}

  blockquote
    | {{ 99-the-time-will-com }}
    cite {{ 13-leonardo-davinci }}

  h2 {{ 47-is-animal-experim }}
  p {{ 72-veterinary-doctor }}

  | {{/use}}

block sidebar-content
  | {{#use}}
  article
    h1 {{ 38-companies-that-te }}
    p {{ 96-download-this-fre }}
    button {{ 93-button-classbtn-b }}

  article
    blockquote
      | {{ 26-i-believe-veganis }}
      cite {{ 5-trisha-roberts }}

  article
    h1 {{ 83-im-vegan-sandy }}
    p {{ 18-sandy-talks-about }}

  article
    h1 {{ 4-im-vegan-minku }}
    p {{ 43-long-time-vegan-m }}

  article
    blockquote
      | {{ 52-human-beings-have }}
      cite {{ 64-gary-steiner-prof }}

  | {{/use}}
