extends ../page-layout

block variables
  - var title = "{{ be.title }}"
  - var dataPage = "be"
  - var butterfly = fs.readFileSync('lib/img/butterfly.svg')

block page-content
  | {{#be}}
  header.page-header
    != butterfly
    h1 {{ title }}

  blockquote
    p {{ veganism_is_not }}
    cite Gary L. Francione

  #toc

  h2 {{ where_to_start }}
  p {{ some_of_our_newly }}&nbsp;
    +link(0)
  p {{ not_that_theres_anything }}
  p
    +link(1)
  p {{ weve_designed_these_recipes }}
  p {{ we_also_recommend_converting }}

  figure(data-component="image_thumbnail")
    +img(0)
    figcaption {{ if_you_think_you_can }}

  h2 {{ is_veganism_expensive }}
  p {{ no_veganism_is_not_expensive }}
  p {{ this_myth_is_also_perpetuated }}
  p {{ veganism_is_actually_easy }}&nbsp;
    +link(2)
  p {{ if_youre_not_a_fan_of_recipes }}
  p 
    +link(3)
  h2 {{ what_about_my_nonvegan }}
  p {{ what_should_we_do_about }}
  p {{ this_is_a_good_time }}
  p {{ if_you_see_animals_as }}
  p
    +link(4)

  +img(1, "image_solitary")
  h2 {{ family_issues }}
  p {{ even_though_youre_motivated }}
  h3 {{ being_vegan_in_a }}
  p {{ not_all_families_are }}
  p {{ you_can_ease_any }}
  p {{ as_for_your_familys }}

  h3 {{ raising_vegan_children }}
  p {{ plenty_of_vegans_have }}

  h4.toc-exempt {{ check_out_these_blogs }}
  ul.unstyled
    li
      +link(5)
      br
      {{ from_vegan_parent }}
    li
      +link(6)
      br
      {{ vegan_couple_lucas }}
  
  h2 {{ recommended_reading }}
  ul.unstyled
    li(data-component="image_module")
      +img(2)
      article
        h1.toc-exempt 
          +link(7)
        h2.toc-exempt {{ by_gary_francione_and_anna }}
        blockquote
          p {{ brilliantly_written_clear }}

    li(data-component="image_module")
      +img(3)
      article
        h1.toc-exempt 
          +link(8)
        h2.toc-exempt {{ by_brenda_davis_and }}
        blockquote
          p {{ everything_you_need }}

    li(data-component="image_module")
      +img(4)
      article
        h1.toc-exempt
          +link(9)
        h2.toc-exempt {{ by_bob_torres_and }}
        blockquote
          p {{ vegan_freak_offers }}

    li(data-component="image_module")
      +img(5)
      article
        h1.toc-exempt
          +link(10)
        h2.toc-exempt {{ by_claire_askew }}
        blockquote
          p {{ essential_for_the_teen }}

    li(data-component="image_module")
      +img(6)
      article
        h1.toc-exempt
          +link(11)
        h2.toc-exempt {{ by_gary_l_francione }}
        blockquote
          p {{ the_best_and_most_consistent }}

        blockquote
          p {{ it_caused_me_to_go }}

  +img(7, "image_solitary")
  blockquote
    p {{ be_the_change_you }}
    cite Mohandas Gandhi

  .clearfix

  | {{/be}}

block sidebar-content
  | {{#be}}
  article(data-component="video_box")
    +vid-img(0)
    h1 {{ watch-our-cartoon-ve }}
    p
      +link(12)

  article(data-component="video_box")
    +vid-img(1)
    h1 {{ paola-on-staying-veg }}
    p {{ on-her-regular-video }}&nbsp;
      +link(13)

  article(data-component="video_box")
    +vid-img(2)
    h1 {{ sam-tucker-on-being }}
    p
      +link(14)
      &nbsp;
      {{ host_of_food_for_thought }}

  article(data-component="video_box")
    +vid-img(3, "vimeo")
    h1 {{ im-vegan-regina }}
    p {{ regina-talks-about-h }}

  article(data-component="video_box")
    +img(8)
    h1 {{ michaels-fight }}
    p {{ read-about-michaels }}

  article(data-component="video_box")
    +img(9)
    h1 {{ lucas-the-pig }}
    p {{ read-about-lucass-un }}
  | {{/be}}

block postjs
  script(type="text/javascript") document.addEventListener('DOMContentLoaded', function() { k$.redirect_locale("be") });
