extends ../page-layout

block variables
  - var title = "{{ learn.title }}"
  - var dataPage = "learn"
  - var tree = fs.readFileSync('lib/img/tree.svg')

block page-content
  | {{#learn}}
  header.page-header
    != tree
    h1 {{ title }}

  h2 {{ 0-speciesism }}
  p {{ 76-strongspeciesism }}
  p {{ 38-however-strongspe }}

  blockquote
    | {{ 16-speciesism-is-mor }}
    cite {{ 53-gary-l-francione }}

  +img(0, "image_bleed")
  h2 {{ 81-what-is-sentience }}
  p {{ 34-like-us-the-anima }}
  p {{ 91-that-is-a-system }}

  h2 {{ 91-animal-rights-boo }}

  div(data-component="image_module")
    +img(1)
    article
      h3 
        +link(0)
      h4 {{ 58-by-gary-l-francio }}
      p {{ 54-are-animal-welfar }}
      p {{ 98-in-this-wide-rang }}

  div(data-component="image_module")
    +img(2)
    article
      h3 
        +link(1)
      h4 {{ 43-by-bob-and-jenna }}
      p {{ 0-curious-about-vega }}

  div(data-component="image_module")
    +img(3)
    article
      h3 
        +link(2)
      h4 {{ 66-by-gary-l-francio }}
      p {{ 35-virtually-all-the }}

  div(data-component="image_module")
    +img(4)
    article
      h3 
        +link(3)
      h4 {{ 64-by-bob-torres }}
      p {{ 71-suggest-to-the-av }}
      p {{ 83-combining-nuts-an }}

  div(data-component="image_module")
    +img(5)
    article
      h3 
        +link(4)
      h4 {{ 87-by-gary-steiner }}
      p {{ 93-anthropocentrism }}
      p {{ 87-in-recent-decades }}
      p {{ 36-gary-steiner-sket }}

  div(data-component="image_module")
    +img(6)
    article
      h3 
        +link(5)
      h4 {{ 61-by-gary-francione }}
      p {{ 76-the-animal-rights }}
      p {{ 61-gary-steiner-buck }}

  h2 {{ 11-what-is-the-aboli }}
  p 
    +link(6)
    &nbsp;{{ 21-youre-already-fam }}
  p {{ 34-at-a-time-there-w }}

  h2 {{ 40-welfarism-in-the }}
  ul.unstyled
    - var n = 7
    while n < 12
      li
        +link(n++)

    li
      em
        +link(12)

  blockquote
    | {{ 89-my-scheme-was-vis }}
    cite {{ 44-william-lloyd-gar }}

  p {{ 71-of-course-we-all }}
  p {{ 89-its-important-to }}
  p {{ 95-while-abolitionis }}
  ul.unstyled
    li
      +link(13)
    li
      +link(14)
  p {{ 51-now-you-may-be-th }}
  p {{ 82-lets-clarify-one }}&nbsp;
    +link(15)
    &nbsp;
    {{ its_a_needed_and }}
  
  blockquote 
    | {{ 53-producers-can-hav }}
    cite {{ 90-animal-welfare-co }}

  p {{ 43-many-animal-organ }}
  p 
    +link(16)
    | &nbsp;
    {{ 10-as-well-because }}&nbsp;
    +link(17)
    {{ 39-it-makes-the-publ }}&nbsp;
    {{ 09-also-the-supposed }}&nbsp;
    +link(18)
    | &nbsp;
    {{ 08-or-marketing }}
  p {{ 83-but-if-welfarism }}
    +link(19)
  p {{ 30-yet-you-may-be-th }}&nbsp;
    +link(20)
  p {{ in_fact_there }}
  ul.unstyled
    li
      +link(21)
    li
      +link(22)

  +vid-img(0)
  h2 {{ 6-welfare-cant-be-al }}
  p {{ 63-its-understandabl }}
  p {{ 73-the-more-you-sear }}&nbsp;
    +link(23)
  p {{ welfarism-involves }}

  blockquote
    | {{ 66-as-long-as-animal }}
    cite {{ 63-angel-flinn }}

  h2 {{ 75-single-issue-camp }}
  p {{ 93-youve-probably-he }}
  p {{ 11-although-its-inde }}
  p {{ 11-making-matters-wo }}

  p
    +link(24)
  p {{ 71-whatever-the-case }}

  h2 {{ 55-social-justice-is }}
  p {{ 86-are-there-more-im }}
  p {{ 64-regardless-of-how }}
  p {{ 85-indeed-strongan-a }}
  p {{ 27-women-face-discri }}
  p {{ 14-the-same-thinking }}

  +img(7)

  blockquote
    | {{ 53-never-doubt-that }}
    cite {{ 86-margaret-mead }}
  | {{/learn}}

block sidebar-content
  | {{#learn}}
  article(data-component="video_box")
    +vid-img(1)
    h1 {{ 8-im-vegan-gary-fran }}
    p {{ 17-rutgers-law-profe }}
    p
      +link(25)
    p {{ 4-abolitionistapproa }}

  article(data-component="video_box")
    blockquote
      | {{ 22-lets-stop-talking }}
      cite {{ 80-vincent-j-guihan }}

  article(data-component="video_box")
    +vid-img(2)
    h1 {{ 50-im-vegan-risa }}
    p {{ 62-musician-risa-tal }}

  article(data-component="video_box")
    +vid-img(3)
    h1 {{ 22-vegan-freak-radio }}
    p {{ 56-the-authors-of-ve }}

  article(data-component="video_box")
    +vid-img(4)
    h1 {{ 92-a-discussion-on-v }}
    p {{ 85-watch-our-cartoon }}
    p {{ 88-trisha-roberts }}

  article(data-component="video_box")
    +vid-img(5)
    h1 {{ 31-promoting-veganis }}
    p {{ 84-clare-demonstrate }}

  article(data-component="video_box")
    +img(9)
    h1 {{ 87-download-our-free }}
    p {{ 13-this-two-sided-tr }}&nbsp;
      {{ 57-gary-francione }}&nbsp;
      {{ explains_the_abolitionist }}
    p
      +link(33, "button")

  article(data-component="video_box")
    +vid-img(6)
    h1 {{ 99-leadership-lesson }}
    p {{ 11-this-video-shows }}

  article(data-component="video_box")
    blockquote
      | {{ 88-i-urge-all-advoca }}
      cite {{ 39-elizabeth-collins }}

  article(data-component="video_box")
    +vid-img(7)
    h1 {{ 55-animals-as-food-t }}
    p {{ 82-gary-l-francione }}
    p {{ 20-gary-l-francione }}
    p
      +link(27)
  | {{/learn}}
