extends ../page-layout

block variables
  - var title = "{{ learn.title }}"
  - var dataPage = "learn"
  - var tree = fs.readFileSync('lib/img/tree.svg')

block page-content
  | {{#learn}}
  header.page-header
    != tree
    h1 {{ title }}

  h2 {{ 0-speciesism }}
  p {{ 76-strongspeciesism }}
  p {{ 38-however-strongspe }}

  blockquote
    | {{ 16-speciesism-is-mor }}
    cite {{ 53-gary-l-francione }}

  h2 {{ 81-what-is-sentience }}
  p {{ 34-like-us-the-anima }}
  p {{ 91-that-is-a-system }}

  h2 {{ 91-animal-rights-boo }}

  h3 {{ 29-rain-without-thun }}
  h4 {{ 58-by-gary-l-francio }}
  p {{ 54-are-animal-welfar }}
  p {{ 98-in-this-wide-rang }}

  h3 {{ 89-vegan-freak-being }}
  h4 {{ 43-by-bob-and-jenna }}
  p {{ 0-curious-about-vega }}

  h3 {{ 19-animals-as-person }}
  h4 {{ 66-by-gary-l-francio }}
  p {{ 35-virtually-all-the }}

  h3 {{ 70-making-a-killing }}
  h4 {{ 64-by-bob-torres }}
  p {{ 71-suggest-to-the-av }}
  p {{ 83-combining-nuts-an }}

  h3 {{ 1-anthropocentrism-a }}
  h4 {{ 87-by-gary-steiner }}
  p {{ 93-anthropocentrism }}
  p {{ 87-in-recent-decades }}
  p {{ 36-gary-steiner-sket }}

  h3 {{ 54-the-animal-rights }}
  h4 {{ 61-by-gary-francione }}
  p {{ 76-the-animal-rights }}
  p {{ 61-gary-steiner-buck }}

  h2 {{ 11-what-is-the-aboli }}
  p {{ 37-abolitionism-desc }}
  p {{ 21-youre-already-fam }}
  p {{ 34-at-a-time-there-w }}

  h2 {{ 40-welfarism-in-the }}
  p {{ 77-the-happy-slaves }}
  p {{ 4-slaveholders-of-th }}
  p {{ 26-the-bond-that-uni }}
  p {{ 24-abolitionism-as-f }}
  p {{ 38-an-abolitionist-a }}
  p {{ 14-read-more-at-quot }}

  blockquote
    | {{ 89-my-scheme-was-vis }}
    cite {{ 44-william-lloyd-gar }}

  p {{ 71-of-course-we-all }}
  p {{ 89-its-important-to }}
  p {{ 95-while-abolitionis }}
  p {{ 31-more-abolitionist }}
  p {{ 55-five-fatal-flaws }}
  p {{ 51-now-you-may-be-th }}
  p {{ 82-lets-clarify-one }}
  p {{ 21-welfarism-is-no-w }}
  p {{ its_a_needed_and }}
  
  blockquote 
    | {{ 53-producers-can-hav }}
    cite {{ 90-animal-welfare-co }}

  p {{ 43-many-animal-organ }}
  p {{ 21-welfarism-is-para }}
  p {{ 39-it-makes-the-publ }}
  p {{ 83-but-if-welfarism }}
  p {{ there-is-actually }}
  p {{ 30-yet-you-may-be-th }}
  p {{ 77-speaking-from-exp }}
  p {{ in_fact_there }}
  p {{ 28-wouldnt-it-be-str }}
  p {{ 83-wouldnt-it-be-str }}

  h2 {{ 6-welfare-cant-be-al }}
  p {{ 63-its-understandabl }}
  p {{ 73-the-more-you-sear }}
  p {{ 62-its-not-simply-th }}
  p {{ welfarism-involves }}

  blockquote
    | {{ 66-as-long-as-animal }}
    cite {{ 63-angel-flinn }}

  h2 {{ 75-single-issue-camp }}
  p {{ 93-youve-probably-he }}
  p {{ 11-although-its-inde }}
  p {{ 11-making-matters-wo }}

  p {{ 99-i-classicon-exter }}
  p {{ 71-whatever-the-case }}

  h2 {{ 55-social-justice-is }}
  p {{ 86-are-there-more-im }}
  p {{ 64-regardless-of-how }}
  p {{ 85-indeed-strongan-a }}
  p {{ 27-women-face-discri }}
  p {{ 14-the-same-thinking }}

  blockquote
    | {{ 53-never-doubt-that }}
    cite {{ 86-margaret-mead }}
  | {{/learn}}

block sidebar-content
  | {{#learn}}
  | {{/learn}}
