extends ../page-layout

block variables
  - var title = "{{ learn.title }}"
  - var dataPage = "learn"
  - var tree = fs.readFileSync('lib/img/tree.svg')

block page-content
  | {{#learn}}
  header.page-header
    != tree
    h1 {{ title }}
  | {{/learn}}

block sidebar-content
  | {{#learn}}
  | {{/learn}}
