- var cow = fs.readFileSync('lib/img/cow.svg')
- var butterfly = fs.readFileSync('lib/img/butterfly.svg')
- var apple = fs.readFileSync('lib/img/apple.svg')
- var shoe = fs.readFileSync('lib/img/shoe.svg')
- var bottle = fs.readFileSync('lib/img/bottle.svg')
- var tree = fs.readFileSync('lib/img/tree.svg')

header.page-nav#page-nav
  nav
    ul
      li.page-icon
        != cow
        span {{ why.title }}
      li.page-icon
        != butterfly
        span {{ be.title }}
      li.page-icon
        != apple
        span {{ eat.title }}
      li.page-icon
        != shoe
        span {{ wear.title }}
      li.page-icon
        != bottle
        span {{ use.title }}
      li.page-icon
        != tree
        span {{ learn.title }}
      li.navbar-title
        h1 
          a(href="/") VeganKit

    ul.icon-list
      li: a.why(href="/{{ rootDir }}why") 
          != cow
      li: a.be(href="/{{ rootDir }}be") 
          != butterfly
      li: a.eat(href="/{{ rootDir }}eat") 
          != apple
      li: a.wear(href="/{{ rootDir }}wear") 
          != shoe
      li: a.use(href="/{{ rootDir }}use") 
          != bottle
      li: a.learn(href="/{{ rootDir }}learn") 
          != tree

    ul(style="display: none")
      li
        select(value="2")
          option Deutsche
          option English
          option Français
          option Portugues
          option Romanian
          option Svede
